<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<a id="encender" href="#">encender</a> <a id="apagar"href="#">apagar</a>
<script type="text/javascript">
$("#encender").click(function(){ $.post('http://192.168.0.130/?LED=F', function(data) { $('#encender').html("apagar");
}); }); $("#apagar").click(function(){ $.post('http://192.168.0.130/?LED=T', function(data) { $('#apagar').html("encender");
}); });
</script>